*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #4756df;
}
/*WHEN THE USER HOVERES ON ANY LINK , IT CHANGES ITS COLOR SET IN CSS */
a:hover{
    color: #ff7235;
}
body{
    font-family: sans-serif;
}
/*Z-INDEX PROPERTY WITH VALUE 1 MAKES SURE THE NAVABAR DISPLAYS OVER ANY OTHER ELEMENT ON THE WEB PAGE. THAT'S HOW THE PAGE IS MADE STICKY. IN ADDITION SHADOW TO THE BOTTOM OF THE NAVBAR WITH BOX-SHADOW PROPERTY */
nav{
    position: sticky;
    top: 0;
    left :0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: whitesmoke;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1{
    color: black;
}
nav a {
    color: #4756df;
    transition: 0.3s;
}
nav a:hover{
    color: #ff7235;
    border-bottom: 2px solid #ff7235;
}
nav ul{
    display: flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight: 700px;
}

.bars{
    color: #4756df;
    font-size: 2rem;
    border: 1;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
section h2 {
    color: black;
}

.bk-img{
    display: flex;
    align-items: flex-start;
    height: 60%;
    width: 40%;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
}

.bio p {
    line-height: 1.7rem;
    padding: 0.3rem 0;
}
.more-about{
    background-color: #fcfcfc;
    padding: 1rem 6rem;
}
.more-about h2{
    margin-bottom: 0.5rem;
    text-align: center;
}
.more-about p {
    line-height: 50%;
    padding: 0.4rem;
    word-spacing: 200%;
    letter-spacing: 100%;
}
.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
.skills-header{
    margin-bottom: 1rem;
}
.skills-wrapper img{
    padding: 1.25rem;
}

.skills img{
    width: 11.875rem;
    height: 11.25rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #a17a69;
    padding: 20px;
    margin: 10px;
}
.projects{
    background-color: #fcfcfc;
    padding: 32px 0;
    margin-top: 2rem;
}
.project-pic{
    width:65%;
    height:60%;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-title{
    text-align: center;
    margin-bottom: 1rem;
}
.project-container{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
.project-container p {
    padding: 0.4rem;
}
.project-title  .project-details {
    margin-bottom: 0.5rem;
}
.project-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #8b8eaf;
    padding: 20px;
    margin: 10px;
}
.contact{
    margin-top: 2rem;
}

.contact h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

.contact-form-container{
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #a17a69;
}

.contact-form-container label{
    line-height: 2.7rem;
    font-weight: 700;
    color: #4756df;
}
.contact-form-container textarea{
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset #4796df;
    font-size: 0.875rem;
    outline: none;
}
.input-field::placeholder{
    padding: 0.5rem;
    color: #4756df;
}
.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid #4756df;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
}
.submit-btn:hover{
    background-color: #4756df;
    border: 2px solid #4756df;
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}
.social{
    width: 2rem;
    height: 2rem;
}
footer{
    background-color: #fcfcfc;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
